<div class="content">
	<div class="container">
		<div class="poster">

			<%= render @stories %>

			


			<div class="sticky-container">


				<div class="sticky">
					<h4>Doing some stuff.</h4>
					<p class="squibbly">This is a story for doing this</p>
					<div class="tags">
						<div class="status">
							<div class="progress green"></div>
							<p>In progress</p>
						</div>
					</div>
					<div class="story-points">
						<p>5</p>
					</div>
					<div class="story-points-expandable">
						<p>0</p>
						<p>&frac12</p>
						<p>1</p>
						<p>2</p>
						<p>3</p>
						<p>5</p>
						<p>8</p>
						<p>3</p>
					</div>

					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
				<div class="tasks">
					<ul>
						<li>
							
							<p>Task. Do some stuff</p>
							
							
							<div class="assigned">
								<%= image_tag("avatar.png", :width=>20) %>
								<%= image_tag("avatar.png", :width=>20) %>
								<%= image_tag("avatar.png", :width=>20) %>
							</div>
						
							<div class="progres">
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>

							<div class="placeholder"></div>
						</li>
						<li id="2">
							
							<p>Another Task. Do some other stuff</p>
							
							
							<div class="assigned">
								<%= image_tag("avatar.png", :width=>20) %>
								<%= image_tag("avatar.png", :width=>20) %>
								<%= image_tag("avatar.png", :width=>20) %>
								<%= image_tag("avatar.png", :width=>20) %>
							</div>
						
							<div class="progres">
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>

							<div class="placeholder"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="sticky-container">
				<div class="sticky">
					<h4>Doing some stuff.</h4>
					<p>This is a story for doing this</p>
					<p class="story-points">5</p>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
				<div class="tasks">
					<ul>
						<li>
							
							<p>Task. Do some stuff</p>
							
							
							<div class="assigned">
								<%= image_tag("avatar.png", :width=>20) %>
							</div>
						
							<div class="progres">
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
							<div style="clear:both"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="sticky-container">
				<div class="sticky">
					<h4>Doing some stuff.</h4>
					<p>This is a story for doing this</p>
					<p class="story-points">5</p>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
			</div>
			<div class="sticky-container">
				<div class="sticky">
					<h4>Doing some stuff. Yay!!!</h4>
					<p>This is a story for doing this</p>
					<p class="story-points">5</p>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
			</div>
			<div class="sticky-container">
				<div class="sticky">
					<h4>Doing some stuff.</h4>
					<p>This is a story for doing this</p>
					<p class="story-points">5</p>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
			</div>
			<div class="sticky-container">
				<div class="sticky">
					<h4>Doing some stuff.</h4>
					<p>This is a story for doing this</p>
					<p class="story-points">5</p>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
			</div>
			<div class="sticky-container">
				<div class="sticky">
					<h4>Doing some stuff.</h4>
					<p>This is a story for doing this</p>
					<p class="story-points">5</p>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>
			</div>
		</div>
		<!--
		<div class="menu-arrow">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<p>Open Tools</p>
		</div>
	

	</div>
-->

	<div class="taskboard-menu">
		<div class="taskboard-items">
			<h4 class="collapse in">Team Members</h4>
			<ul>
				<li><%= image_tag("avatar.png", :width=>50) %><p>Avatar A.</p></li>
				<li><%= image_tag("avatar.png", :width=>50) %><p>Avatar A.</p></li>
				<li><%= image_tag("avatar.png", :width=>50) %><p>Avatar A.</p></li>
				<li><%= image_tag("avatar.png", :width=>50) %><p>Avatar A.</p></li>
				<li><%= image_tag("avatar.png", :width=>50) %><p>Avatar A.</p></li>
				<li><%= image_tag("avatar.png", :width=>50) %><p>Avatar A.</p></li>
			</ul>
		</div>
	</div>
</div>

